@if (userService.user(); as user) {
  <p>{{ user.email }}</p>
  <p>{{ user.name }}</p>
  <div class="w-24 h-24 overflow-hidden rounded-full">
    <img
      [ngSrc]="user.picture"
      alt="profile"
      width="100"
      height="100"
      priority
      class="w-full h-full object-cover"
    />
  </div>
  <p-floatlabel variant="in">
    <input pInputText id="name" [(ngModel)]="nickname" autocomplete="off" (keydown.enter)="putName()"/>
    <label for="name">Add/Modify Nickname</label>
  </p-floatlabel>

  <p-floatlabel variant="in">
    <input pInputText id="picture" [(ngModel)]="picture" autocomplete="off" (keydown.enter)="putPicture()"/>
    <label for="picture">Add/Modify Picture</label>
  </p-floatlabel>

  <div>
    @for (group of user.groups; track (group.id + group.name)) {
      <p>
        {{group.name}}
        <p-floatlabel variant="in">
          <input pInputText id="{{group.name}}" [(ngModel)]="email" autocomplete="off" (keydown.enter)="addToGroup(group.id)"/>
          <label for="{{group.name}}">Add User To group</label>
        </p-floatlabel>
      </p>
    }

  </div>

}
